*.out
*.o
a.out
.DS_Store
*.exe
# add any extensionless binaries pattern if needed
**/2218A_The_67th_Integer_Problem
**/2218B_The_67th_Integer_Problem
**/2218C_The_67th_Permutation_Problem
codeforces/**/*[^.][^c][^p][^p]
